.icon-left, .icon-right {
  font-size: 2rem;
}

i {
  cursor: pointer;
}

.icon-left {
  text-align: left;
}

.icon-right {
  text-align: right;
}

.kommentar {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .icon-left {
    text-align: right;
  }
}

