.btn-container {
  margin: 10px 0 10px 0;
}

.btn-wrapper  {
    margin-bottom: 10px;
}

.btn {
  border: 1pt solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2rem;
}


.dialog {
  border: 1pt solid red;
  padding: 10px 5px 10px 5px;
}

