<p *ngIf="showFilename()">checklisten-liste.component.ts (checklisten$)</p>

<div *ngIf="checklisten$ | async as checklisten else loading">

  <!-- Dialog zum Anlegen einer neuen Liste -->
  <ng-template #itemNeuBody>
    <div class="container-fluid">
      <form id="itemForm">
        <div class="group">
          <label for="inputItemName">Name*:</label>
          <input type="text" class="form-control" id="inputItemName" name="inputItemName" [(ngModel)]="nameListe" required aria-describedby="itemNameHelp"
            placeholder="Name">
        </div>
        <div class="row btn-container">
          <div class="col-md-6 btn-wrapper">
            <button chlBackgroundColor [typ]="'EINKAUFSLISTE'" class="col-md-12 btn" [disabled]="addListeDisabled()" (click)="neueCheckliste('EINKAUFSLISTE')">
              Einkaufen
            </button>
          </div>
          <div class="col-md-6 btn-wrapper">
            <button chlBackgroundColor [typ]="'PACKLISTE'" class="col-md-12 btn" [disabled]="addListeDisabled()" (click)="neueCheckliste('PACKLISTE')">
              Packen
            </button>
          </div>
        </div>
        <div class="row btn-container">
          <div class="col-md-6 btn-wrapper">
            <button chlBackgroundColor [typ]="'TODOS'" class="col-md-12 btn" [disabled]="addListeDisabled()" (click)="neueCheckliste('TODOS')">
              Todo
            </button>
          </div>
          <div class="col-md-6 btn-wrapper">
            <div class="col-md-12 btn btn-outline-dark" (click)="closeModalQuietly()">
              doch nicht
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <hewi-modal #modal [hideOnEscape]="true" [hideOnClickOutside]="true" [body]="itemNeuBody" *hewiModalOpenOnClick="addListeButton">

    <i class="fa fa-times" (click)="modal.close()"></i>

  </hewi-modal>

  <h3>Anzahl Checklisten: {{checklisten.length}}</h3>

  <!--
  <div *ngIf="checklisten.length === 0" class="row btn-container">
    <div class="col-md-4 btn-wrapper">
      <button class="col-md-12 btn btn-outline-dark" (click)="loadChecklisten()" >
        <i class="fa fa-server"></i> Checklisten laden
      </button>
    </div>
  </div>
  -->

  <div class="row">
    <div *ngFor="let liste of checklisten" class="col-sm-12 col-md-4 col-lg-3">
      <chl-checkliste [checkliste]="liste"></chl-checkliste>
    </div>
  </div>
</div>


<div class="row btn-container">
  <div class="col-md-4 btn-wrapper">
    <button #addListeButton class="col-md-12 btn btn-outline-dark">
      <i class="fa fa-plus"></i> neue Checkliste
    </button>
  </div>
</div>


<ng-template #loading>
  <chl-loading></chl-loading>
</ng-template>
