<p *ngIf="showFilename()">checklisten-liste.component.ts (checklisten$)</p>

<div class="row" *ngIf="checklisten$ | async as checklisten else loading">
  <div *ngFor="let liste of checklisten" class="col-sm-12 col-md-4 col-lg-3">
    <chl-checkliste [checkliste]="liste"></chl-checkliste>
  </div>
</div>


<div class="row btn-container">
  <div class="col-md-4">
    <div chlBackgroundColor [typ]="'EINKAUFSLISTE'" class="col-md-12 btn">
      neue EINKAUFSLISTE
    </div>
  </div>
  <div class="col-md-4">
    <div chlBackgroundColor [typ]="'PACKLISTE'" class="col-md-12 btn">
      neue PACKLISTE
    </div>
  </div>
  <div class="col-md-4">
    <div chlBackgroundColor [typ]="'TODOS'" class="col-md-12 btn">
      neue TODOLISTE
    </div>
  </div>
</div>

<ng-template #loading>
  <chl-loading></chl-loading>
</ng-template>
