<div class="container">

  <!-- Dies hier soll im Dialog gezeichnet werden (Übergabe über secModalBody) -->
  <!-- let-Syntax: das was nach let- kommt, ist der Name einer context-Property (siehe Inpot context in ModalComponent -->
  <ng-template #secModalBody let-closeImmediate="closeImmediate">
    <p>Weg ist weg. Trotzdem löschen?</p>
    <div class="row">
      <div class="col-6">
        <button class="col-12" (click)="delete()">Jupp</button>
      </div>
      <div class="col-6">
        <button class="col-12" (click)="closeModalQuietly()">Nö</button>
      </div>
    </div>
  </ng-template>

  <chl-modal #modal [hideOnEscape]="true" [hideOnClickOutside]="true" [body]="secModalBody" [context]="{closeImmediate: checkliste.anzahlErledigt === 0}"
    *chlModalOpenOnClick="trashButton">

    <i class="fa fa-times" (click)="modal.close()"></i>

  </chl-modal>

  <div chlBackgroundColor [typ]="checkliste.typ" class="card mb-3">
    <div class="card-header">
      <div #trashButton class="trash">
        <i class="fa fa-trash"></i>
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{checkliste.name}}
        <span class="badge badge-dark">{{checkliste.anzahlErledigt}}</span>
      </h4>
      <p class="card-text">
        {{checkliste.typ}}</p>
      <p *ngIf="showFilename">checkliste.component.ts (Input: checkliste)</p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-6">
          <button class="btn-default btn-block" (click)="configure()">config</button>
        </div>
        <div class="col-6">
          <button class="btn-default btn-block" (click)="execute()">exec</button>
        </div>
      </div>
    </div>
  </div>
</div>
