<p *ngIf="showFilename()">execute-checkliste.component.ts</p>

<div *ngIf="checkliste$ | async as checkliste else loading">

  <h4>{{checkliste.typ}} {{checkliste.name}} abarbeiten </h4>
  <h5>{{checkliste | statistikCheckliste}}</h5>


  <chl-execute-itemliste [semantik]="'vorschlagsliste'"></chl-execute-itemliste>

  <h5>Erledigte Dinge:</h5>

  <chl-execute-itemliste [semantik]="'ausgewaehlt'"></chl-execute-itemliste>

  <div class="row btn-container">
    <div class="col-md-2 btn-wrapper">
      <button class="col-md-12 btn btn btn-outline-dark" (click)="save(checkliste)">
        speichern
      </button>
    </div>
    <div class="col-md-3 btn-wrapper">
      <button class="col-md-12 btn btn-outline-dark" (click)="saveAndClose(checkliste)">
        speichern und schließen
      </button>
    </div>
  </div>


</div>

<ng-template #loading>
  <chl-loading></chl-loading>
</ng-template>
