<div *ngIf="(info$ | async) as info">
  <div class="row alert alert-info btn btn-block">
    <div class="col-xs-10 col-sm-11" (click)="closeInfo()">{{info}}</div>
  </div>
</div>
<div *ngIf="(warn$ | async) as warn">
  <div class="row alert alert-warning btn btn-block">
    <div class="col-xs-10 col-sm-11" (click)="closeWarn()">{{warn}}</div>
  </div>
</div>
<div *ngIf="(error$ | async) as error">
  <div class="row alert alert-danger btn btn-block">
    <div class="col-xs-10 col-sm-11" (click)="closeErrors()">{{error}}</div>
  </div>
</div>
