<p *ngIf="showFilename()">configure-checkliste.component.ts</p>



<div *ngIf="checkliste$ | async as checkliste else loading">


  <!-- Dialog zum Anlegen eines neuen Items -->
  <ng-template #itemNeuBody>
    <div class="container-fluid">
      <form id="itemForm">
        <div class="group">
          <label for="inputItemName">Name*:</label>
          <input type="text" class="form-control" id="inputItemName" name="inputItemName" [(ngModel)]="nameItem" required aria-describedby="itemNameHelp"
            placeholder="Name">
        </div>
        <div class="group">
          <label for="inputItemKommentar">Kommentar:</label>
          <input type="text" class="form-control" id="inputItemKommentar" name="inputItemKommentar" [(ngModel)]="kommentarItem" required
            aria-describedby="itemKommentarHelp" placeholder="Kommentar">
        </div>
        <div class="row btn-container">
          <div class="col-6 btn-wrapper">
            <button class="col-12" [disabled]="addItemDisabled()" (click)="addItem(checkliste)">OK</button>
          </div>
          <div class="col-6 btn-wrapper">
            <button class="col-12" (click)="closeModalQuietly()">doch nicht</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <hewi-modal #modal [hideOnEscape]="true" [hideOnClickOutside]="true" [body]="itemNeuBody" *hewiModalOpenOnClick="addItemButton">

    <i class="fa fa-times" (click)="modal.close()"></i>

  </hewi-modal>

  <h3>{{checkliste.typ}} erstellen </h3>

  <form id="nameForm">
    <label for="nameChecklisteInput">Name*:</label>
    <input type="text" class="form-control" id="nameChecklisteInput" name="nameChecklisteInput" [(ngModel)]="checkliste.name"
      required />
  </form>


  <chl-configure-vorschlagsliste></chl-configure-vorschlagsliste>

  <div class="row btn-container">
    <div class="col-md-4 btn-wrapper">
      <button #addItemButton class="col-md-12 btn btn-outline-dark">
        <i class="fa fa-plus"></i> neues Teil
      </button>
    </div>
  </div>

  <h4>{{checkliste | statistikCheckliste}}*</h4>

  <chl-configure-edit></chl-configure-edit>

  <div class="row btn-container">
    <div class="col-md-3 btn-wrapper">
      <button class="col-md-12 btn btn-outline-dark" [disabled]="saveDisabled(checkliste)" (click)="save(checkliste)">
        speichern
      </button>
    </div>
    <div class="col-md-3 btn-wrapper">
      <button class="col-md-12 btn btn-outline-dark" [disabled]="saveDisabled(checkliste)" (click)="saveAndClose(checkliste)">
        speichern und schließen
      </button>
    </div>
    <div class="col-md-3 btn-wrapper">
      <button class="col-md-12 btn btn-outline-dark" (click)="delete(checkliste)">
        löschen
      </button>
    </div>
  </div>


</div>

<ng-template #loading>
  <chl-loading></chl-loading>
</ng-template>
