.btn-wrapper {
  margin: 10px;
}

.btn-wrapper>button {
  padding: 10px;
}

.btn-container {
  font-size: 1rem;
}

.dialog {
  border: 1px solid gray;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
}
