<p>checkliste-detail.component.ts</p>

<h1>{{checkliste.name}}</h1>
<h3 *ngIf="isEdit()">{{bearbeiteteItems.length}} von {{checkliste.items.length}} erledigt</h3>
<h3 *ngIf="isConfig()">{{checkliste.items.length}} Dinge zu tun</h3>


<table class="table table-bordered" *ngFor="let item of unbearbeiteteItems">
     <chl-checklistenitem [checklistenitem]="item"></chl-checklistenitem>
</table>

<h3 *ngIf="isEdit()">erledigte Dinge
  <i class="fa fa-check-square fa-1x"></i>
</h3>
<h3 *ngIf="isConfig()">zu erledigende Dinge
  <i class="fa fa-check-square fa-1x"></i>
</h3>

<table class="table table-bordered" *ngFor="let item of bearbeiteteItems">
    <chl-checklistenitem [checklistenitem]="item"></chl-checklistenitem>
</table>

