<p>checkliste-detail.component.ts</p>


<div *ngIf="checkliste$ | async as checkliste">
  <h1>{{checkliste.name}}
    <span *ngIf="checkliste.modus === 'config'"> erstellen</span>
    <span *ngIf="checkliste.modus === 'edit'"> abarbeiten</span>
  </h1>

  <div id="unbearbeitet" class="items-table" *ngIf="unbearbeiteteItems$ | async as unbearbeiteteItems else loadingCheckliste">
    <div *ngFor="let item of unbearbeiteteItems">
      <chl-checklistenitem *ngIf="checkliste.modus === 'edit'" [checklistenitem]="item" [mitKommentar]="true"></chl-checklistenitem>
      <chl-checklistenitem *ngIf="checkliste.modus === 'config'" [checklistenitem]="item" [mitKommentar]="false"></chl-checklistenitem>
    </div>
  </div>


  <h3 *ngIf="checkliste.modus === 'edit'">erledigte Dinge</h3>
  <h3 *ngIf="checkliste.modus === 'config'">vorgemerkte Dinge</h3>

  <div id="bearbeitet" *ngIf="bearbeiteteItems$ | async as bearbeiteteItems else loadingCheckliste">
    <div *ngFor="let item of bearbeiteteItems">
      <chl-checklistenitem *ngIf="checkliste.modus === 'edit'" [checklistenitem]="item" [mitKommentar]="false"></chl-checklistenitem>
      <chl-checklistenitem *ngIf="checkliste.modus === 'config'" [checklistenitem]="item" [mitKommentar]="true"></chl-checklistenitem>
    </div>
  </div>

  <ng-template #loadingCheckliste>
    <chl-loading></chl-loading>
  </ng-template>
