* {
  /** box content wird automatisch so berechnet, dass width und height konstant bleiben */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, "Helvetica Neue" sans-serif;
  font-size: 18px;
}

footer {
  position: relative;
  margin-top: 150px;
}

/* === LISTE VON ITEMS === */
#unbearbeitet,
#bearbeitet {
  padding: 15px 0 15px 10px;
}

/* === DIVS mit ITEM-Attributen ===*/
.item-btn {
  padding: 15px 10px 15px 10px;
  background-color: bisque;
  border  : solid 1px gray;
  vertical-align: middle;
  margin-bottom: 10px;
}

.item-data {
  padding: 15px 10px 15px 10px;
  margin-bottom: 10px;
  border-top: solid 1px gray;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
}
