* {
  /** box content wird automatisch so berechnet, dass width und height konstant bleiben */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, "Helvetica Neue" sans-serif;
  font-size: 18px;
}

footer {
  position: relative;
  margin-top: 100px;
}
